.inline{
    display:flex;
    flex-direction:row;
}
.logo{
    border-radius:50%;
    width:50px;
    height:50px
}
.Dashheading{
    color:white;
    font-size:30px;
    margin-top:20px;
    font-family:sofia
}
.backjao{
    color:rgb(154, 154, 154);
    font-size:20px;
    font-family:sofia;
    margin-left:670px
}
.reportback{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

.nameBar{
    height:240px;
    width:320px;
    margin:10px 10px 10px 0px;
    color:white;
    padding:30px;
}

.table{
    /* border:1px solid white; */
    padding:10px 30px 10px 30px;
    font-size:15px;
    color:rgb(175, 171, 171);
    font-family:calibri
} 
.users{
    height:300px;
    width:500px;
    margin-left:50px;
    margin-bottom:100px;
    overflow-y: scroll;
    scrollbar-width: none
}
.count{
    height:260px;
    width:240px;
    margin-right:10px;
    margin-left:10px;
    text-align:center;
    padding:20px
}
.total{
    font-size:20px;
    color:white;
    margin:20px;
    font-style:italic
}
.average{
    height:260px;
    width:330px;
    margin-right:10px;
    text-align:center;
    padding:20px
}

.linesimage{
    height:300px;
    width:800px;
    margin:10px;
    margin-left:50px
}